body {
	font-family: sans-serif;

}
 {
 	box-sizing: border-box;
 }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header header {
	padding: 80px;
	text-align: center;
	background: #D6AD60;
	color: white;
	font-size: 30px;
	position: fixed-top;

}

.header h1 {
	color: white;
	margin-top: -50px;
}

.header p {
	color: white;
	margin-top: -30px;
	font-weight: bold;
}

.navbar {
	overflow: hidden;
  background-color: #333;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.navbar a{
	float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ECF87F;
  color: black;
}

.icon	{
	float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  margin-right: 30px;
  margin-top: 1px;
}



.form input[type=text] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 5px;
  border: none;
  font-size: 17px;

}



@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .header .navbar .icon .form {
    width: 100%;
  }