body {
	font-family: sans-serif;

}

li {
	list-style: none;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;

}

.header-title {
	margin-top: -5px;
}


.fa-cart-shopping {
	color: red;
}

.header-title span {
	margin-left: 10px;
	color: white;
	font-weight: bold;
}


.header-list a:hover {
	background-color: blue;
}

.header-list {
	float: right;
	margin-top: -60px;
}

.header-list a {
	color: white;
	text-decoration: none;
}

.header-list li {
	float: left;
	padding-right: 33px 20px;
	margin-right: 40px;
	margin-bottom: 30px;
}


.main {
  background-image: url("https://cdn.pixabay.com/photo/2019/06/15/16/06/online-4275963_960_720.jpg");
  background-color: #cccccc;
  height: 600px;
  background-size: cover;
  margin-top:65px;

}

.main h1{
	text-align: center;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: #F51720;
  margin-top: -150px;
  font-size: 70px;
  font-family: "Stencil Std";

}

.main h2{
	text-align: center;
  position: absolute;
  top: 50%;
  left: 16%;
  transform: translate(-50%, -50%);
  color: white;
  margin-top: -95px;
  font-size: 50px;
  font-family: "Times New Roman";
  font-weight: bold;

}

.btn {
	background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 3%;
  margin-top: -60px;
  font-family: "Times New Roman";

}

.btn:hover {
	background-color: red;
  color: white;
}
